/.AbstractClassGenerator.java._trace
/.AbstractClassGenerator.xtendbin
/.AbstractCodeGenerator.java._trace
/.AbstractCodeGenerator.xtendbin
/.AbstractFileGenerator.java._trace
/.AbstractFileGenerator.xtendbin
/.AbstractGenerator.java._trace
/.AbstractGenerator.xtendbin
/.AbstractProtocolGenerator.java._trace
/.AbstractProtocolGenerator.xtendbin
/AbstractClassGenerator.java
/AbstractCodeGenerator.java
/AbstractFileGenerator.java
/AbstractGenerator.java
/AbstractProtocolGenerator.java
