.cblue.table {
    background: #fff;
}
.cblue.table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
    color: #FFFFFF;
    border-left: 1px solid #0070A8;
}
.cblue.table thead th:first-child {
    border: none;
}
.cblue.table tbody td {
    color: #00557F;
    border-left: 1px solid #E1EEF4;
}
.cblue.table tbody .alt td {
    background: #E1EEf4;
    color: #00557F;
}
.cblue.table tbody td:first-child {
    border-left: none;
}
.cblue.table tbody tr:last-child td {
    border-bottom: none;
}

.cgrey.table {
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
}
.cgrey.table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color: #8C8C8C;
    color: #FFFFFF;
    border-left: 1px solid #A3A3A3;
}
.cgrey.table thead th:first-child {
    border: none;
}
.cgrey.table tbody td {
    color: #7D7D7D;
    border-left: 1px solid #DBDBDB;
}
.cgrey.table tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}
.cgrey.table tbody td:first-child {
    border-left: none;
}
.cgrey.table tbody tr:last-child td {
    border-bottom: none;
}

.cred.table {
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
}
.cred.table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C));
    background: -moz-linear-gradient( center top, #991821 5%, #80141C 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #991821;
    color: #FFFFFF;
    border-left: 1px solid #B01C26;
}
.cred.table thead th:first-child {
    border: none;
}
.cred.table tbody td {
    color: #80141C;
    border-left: 1px solid #F7CDCD;
}
.cred.table tbody .alt td {
    background: #F7CDCD;
    color: #80141C;
}
.cred.table tbody td:first-child {
    border-left: none;
}
.cred.table tbody tr:last-child td {
    border-bottom: none;
}

.cgreen.table {
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
}
.cgreen.table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420));
    background: -moz-linear-gradient( center top, #36752D 5%, #275420 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color: #36752D;
    color: #FFFFFF;
    border-left: 1px solid #36752D;
}
.cgreen.table thead th:first-child {
    border: none;
}
.cgreen.table tbody td {
    color: #275420;
    border-left: 1px solid #C6FFC2;
}
.cgreen.table tbody .alt td {
    background: #DFFFDE;
    color: #275420;
}
.cgreen.table tbody td:first-child {
    border-left: none;
}
.cgreen.table tbody tr:last-child td {
    border-bottom: none;
}

.sbig.table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.sbig{
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    overflow: hidden;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.sbig.table td,
.sbig.table th {
    padding: 12px 12px;
}
.sbig.table thead th {

    font-size: 18px;
    font-weight: bold;
}
.sbig.table tbody td {
    font-size: 16px;
    font-weight: normal;
}

.ssmall.table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.ssmall{
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    overflow: hidden;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
.ssmall.table td,
.ssmall.table th {
    padding: 6px 8px;
}
.ssmall.table thead th {
    font-size: 16px;
    font-weight: bold;
}
.ssmall.table tbody td {
    font-size: 14px;
    font-weight: normal;
}