/.SystemJsConfigGenerator.java._trace
/.SystemJsConfigGenerator.xtendbin
/.TsConfigGenerator.java._trace
/.TsConfigGenerator.xtendbin
/.TypingsGenerator.java._trace
/.TypingsGenerator.xtendbin
/SystemJsConfigGenerator.java
/TsConfigGenerator.java
/TypingsGenerator.java
