/.CodeGenerator.java._trace
/.CodeGenerator.xtendbin
/.FileManager.java._trace
/.FileManager.xtendbin
/.ModelLoader.java._trace
/.ModelLoader.xtendbin
/.ModelValidator.java._trace
/.ModelValidator.xtendbin
/.ParametersValidator.java._trace
/.ParametersValidator.xtendbin
/CodeGenerator.java
/FileManager.java
/ModelLoader.java
/ModelValidator.java
/ParametersValidator.java
